<main>
    <mat-spinner *ngIf="fetchingAlbums === true"></mat-spinner>
    <mat-grid-list cols="3" rowHeight="560px" gutterSize="5px">
        <mat-grid-tile *ngFor="let album of albums">
            <mat-card>
                <mat-card-header>
                    <p>{{album.title}}</p>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <mat-card-content>
                    <p>This album uploaded by user #{{album.userId}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary">View More</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</main>