a{
    background-color: #eaf4ff;
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
}

a:hower{
    background-color: #add6ff;
    border-radius: 5px;
    margin: 20px;
    font-size: 30px;
}