body{
    background-color: #eaf4ff;
}

.nav-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

mat-toolbar{
    height: 10%;
    background-color: #673ab7;
}

mat-sidenav{
    width: 400px;
}
