
#header{
    height: 10%;
}


#blockOfPosts{
    height: 90%;
    overflow-y: scroll;
}

mat-expansion-panel{
    margin: 20px;
}

mat-spinner{
    position: absolute;
    left: 25%;
    top: 40%;
}

/*
#aPost{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

#aPost:hover{
    background-color: rgb(240, 240, 240);
}

#aPost h5{
    padding: 0;
}

#aPost a{
    color:black;
    text-decoration: none;
}
*/
