#blockOfPosts{
    min-height: 560px;
    height: 80%;
    overflow-y: scroll;
}

#aPost{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

#aPost:hover{
    background-color: rgb(240, 240, 240);
}

#aPost h5{
    padding: 0;
}

#aPost a{
    color:black;
    text-decoration: none;
}
