<div id="header">
    <h4>This is the list of posts    
      <span color="accent" style="font-size:xx-small">
       Limit posts:
       <mat-slider #slider min="10" max="100" step="1" value="20"></mat-slider>
       {{slider.value}}
      </span>
    </h4>
</div>

<div id="blockOfPosts">

  <mat-spinner *ngIf="fetchingPosts === true"></mat-spinner>
    <div *ngFor="let post of posts; let i=index" id="aPost">

        <mat-expansion-panel *ngIf="i<slider.value" [expanded]="true">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Post #{{post.id}}
              </mat-panel-title>
              <mat-panel-description>
                {{post.title}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <h5>Body: {{post.body}}</h5>
            <span style="float: right;">User Id: {{post.userId}}</span>
            <button mat-button (click)="selectPost(post.id)" [routerLink]="['/posts',post.id]" color="primary">Comment</button>

          </mat-expansion-panel>
        
    </div>
</div>