#blockOfComments{
    height: 80%;
    overflow-y: scroll;
    background-color: #DDE7FF;
}

#header{
    height: 10%;
    background-color: #DDE7FF;
}

#commentLine{
    margin: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

#commentLine h5{
    padding: 0;
}

#inputComment{
    height: 10%;
    background-color: #DDE7FF;
}

